<!DOCTYPE html>
<html>

<head>
	<title>AZelios - Personal Webpage</title>

	<link rel="shortcut icon" type="image/png" alt="AZ" href="/img/logo.png"/>
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/public/app.css">
	
	<meta charset="UTF-8">
	<meta name="description" content="Personal Webpage with thoughts about product management, agile, leadership, customer-facing teams and more">
	<meta name="keywords" content="Blogging, Product Management, Agile, Customer Support, Customer Success">
	<meta name="author" content="Athanasios Zelios">
	<meta name="viewport" content="width=device-width, initial-scale=1"
</head>
