<!--head elements-->
<% include partials/header %>

<body class="main">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	

<!-- Navgivation Bar -->
<% include partials/navigation-bar %>

<section class="sectio-slide section-slide-description">
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<div>
					<article>
						<div id = "description-text">
								<p>
								<header><h3>My Story</h3></header>
								<br>
								If I would like to describe myself in a couple of words I would say 'Generalist specializing in Technology'. This is also more or less the story of my life. It all started when I touched for the first time a PC keyboard in my life. I was about 10 years old and not many families had a PC in their houses, at least in Greece. I can still remember how amazed I was about the fact that I could communicate with another person millions of miles away (mIRC and AOL chat rooms, PSTN). Technology and human (computer) interaction. I had not realized how deeply I was  affected from that moment.
								</p>
								<p>
								The years passed and later I had the chance to write my first lines of code in visual basic play the first games on my own PC etc. I was absolutely sure back then that there is nothing else I would like to study rather than computer science and what is a computer scientist without strong knowledge of math and physics and I did my best to set a good basis. Of course my curiosity did not let me rest and I spent nights studying history, painting, playing music, writing poems, reading books with strong social messages etc.
								</p>
								<p>
								During <a href="https://www.aueb.gr/">university</a> times I had the chance to deepen my knowledge in computer science (from understanding how a bit is created to embedded systems,AI and <a href=https://www.su.se/english/ target="_blank"> information systems (MSc))</a>, read about psychology, play with photography and test my body in fighting sports.
								</p>
								<p>
								All the above helped me launch my first internship in <a href="https://www.sieben.gr/" target="_blank">Sieben</a> as a business application consultant where I just confirmed how much I liked listening to people's needs, developing a solution and finally making them understand how to use and benefit from the deployed solution. It is not as easy as it sounds to try to penetrate an industry like shipping with tech ideas.
								</p>
								<p>
								Other experiences in less techy environments (cinemas, restaurants, cafes) helped me improve my social skills, increase my empathy (OK as much as an IT guy can have), understand how to provide timely solutions and resolve conflicts.
								</p>
								<p>
								Next stop to my time travel was <a href="https://home.cern/" target="_blank">CERN</a> where I had the chance to experience and be part of this huge experiment. For almost three years I encountered myself and my will to contribute with my knowledge in hardware (FPGA, controllers, sensors ) and software (Java, C++, different middlewares) to a potentially great expansion project. Three years with little Human - Human interaction and great consciousness that I could not live with my customers. Of course being in two places in the same time is hard.
								</p>
								<p>
								Thus here we are today; I work in <a href="https://www.marinetraffic.com" target="_blank">MarineTraffic</a> as customer support engineer using my knowledge to help the users integrate the API services to their systems while in the meantime contributing to building a strong community and customer base.
								</p>
							</div>
					</article>
				</div>
			</div>
		</div>
	</div>
</section>

<!--footer elements-->
<% include partials/footer %>