<!--head elements-->
<% include partials/header %>

<body class="main" id="welcome-page">

<!-- Navigation Bar -->
<% include partials/navigation-bar %>

<!-- welcome message -->
<section>
	<div class="container">
		<div class = "row">
			<div class = "col-lg-12">
				<div id = "main-content">
					<h1 id="Home">AZelios</h1>
					<hr>
					<h3>Home of a Generalist</h3>
				</div>
			</div>
		</div>
	</div>
</section>

<!--footer-->
<% include partials/footer %>