<!--head elements-->
<% include partials/header %>

<body style = "padding:0px">

<!-- Navgivation Bar -->
<% include partials/navigation-bar %>
<div class="container">
	<div class = "row">
		<div class = "col-lg-12">
            <div id="tags-page-top">

            </div>
        </div>
    </div>

	<!--cynefin framework-->
	<div class = "row justify-content-md-center" id="blogs-area">
		<div class = "col-md-9">
		    <div id ="article-1" >
		    	<h3 id="blog-date"> November 2, 2018</h3>
		    	<h2 id="blog-title">Dealing with uncertainty and scaling in human systems</h2>
		        "In a recent Agile Summit in Athens, I had the amazing opportunity to attend the speech of David John Snowden regarding complexity-based thinking
		        in order to handle high levels of uncertainty. During his speech, we became familiar with the Cynefin framework and more particularly we got to know
		        the common mistakes or misconceptions especially fromorganization leaders when facing the scalability of a complex system such as their companies."
		        <a href = "/tags/uncertainty-scaling-human-systems"> Read more ...</a>
		    </div>
	    </div>
	</div>

	<!--Customer Support to Product Manager-->
	<div class = "row justify-content-md-center" id="blogs-area">
		<div class = "col-md-9">
		    <div id ="article-1" >
		    	<h3 id="blog-date"> October 22, 2018</h3>
		    	<h2 id="blog-title">5 Reasons why a Customer Support can be your next Product Manager</h2>
		        "Being consistent in recruiting is always a safe bet; software developers and business administration candidates get the Product Manager
		        roles since it is traditionally what is being followed. How about considering customer support engineers for such a position? Not convinced?
		        No worries, let’s dig through this." <a href = "/tags/customer-support-engineer-product-manager"> Read more ...</a>
		    </div>
	    </div>
	</div>
</div>

<!--footer elements-->
<% include partials/footer %>