<!--head elements-->
<% include partials/header %>

<body style = "padding:0px">

<!-- Navgivation Bar -->
<% include partials/navigation-bar %>
<div class="container">
	<div class = "row">
		<div class = "col-lg-12">
            <div id="tags-page-top">

            </div>
        </div>
    </div>

	<div class = "row justify-content-md-center" id="blogs-area">
		<div class = "col-md-6">
		    <div id ="article-1" >
		    	<h3 id="blog-date"> October 22, 2018</h3>
		    	<h2 id="blog-title">5 Reasons why a Customer Support can be your next Product Manager</h2>
		        "Being consistent in recruiting is always a safe bet; software developers and business administration candidates get the Product Manager
		        roles since it is traditionally what is being followed. How about considering customer support engineers for such a position? Not convinced?
		        No worries, let’s dig through this." <a href = "/tags/customer-support-engineer-product-manager"> Read more ...</a>
		    </div>
	    </div>
	</div>
</div>

<!--footer elements-->
<% include partials/footer %>